@import '../../scss/variables.scss';

.finishContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  border-radius: 5% 5% 0 0;
}

.finish {
  position: relative;
  transform: translate(35%, 35%);
  width: 350px;
  height: 300px;
  background: $gradient;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title {
  @include finishText(50px);
  margin: 0;
}

.playersScore {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playerScore {
  @include finishText(25px);
}